<div class="col-xs-4">
  <p>Member since: <%= @user.created_at.to_date %></p>
  <p>Last login: <%= @user.last_sign_in_at.to_date %></p>
  <p>Posts: <%=@user.posts.length %></p>
  <p>Comments: <%=@user.comments.length %></p>
</div>
<div class="col-xs-8">
  <h4><%= @user.username %>'s Activity</h4>
  <div class="activity-list">
    <% (@user.posts + @user.comments).sort_by(&:created_at).reverse.each do |activity| %>
      <div class="activity-list-item">
        <% if activity.is_a?(Post) %>
          <p class="item-description"><span class="item-type">post</span></p>
          <p class="item-title"><%= link_to activity.title, post_path(activity) %></p>
        <% else %>
          <p class="item-description"><span class="item-type">comment</span> on <%= link_to activity.post.title, post_path(activity.post) %></p>
          <p class="item-text"><%= activity.body %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
