<div class="col-xs-7">
  <div class="post">
    <div class="post-header">
      <h3 class="post-title"><%= @post.title %></h3>
      <div class="row post-details">
        <div class="post-date col-xs-6">
          <p>By <em><%= link_to @post.user.username, user_path(@post.user) %></em> | <%= @post.created_at.to_date %></p>
        </div>
        <% if @post.user == current_user %>
          <div class="text-right post-tools col-xs-6">
            <ul class="list-unstyled list-inline">
              <li><%= link_to "Edit", edit_post_path(@post) %></li>
              <li><%= link_to "Delete", post_path(@post), data: {confirm: "Are you sure?", method: "delete" } %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <p class="post-body"><%= @post.body %></p>
  </div>
</div>

<div class="col-xs-5">
  <div id="comments">
    <% if @post.comments.length == 1 %>
      <h5>There is 1 comment.</h5>
    <% else %>
      <h5>There are <%= @post.comments.length %> comments.</h5>
    <% end %>

    <%= render @post.comments.sort_by(&:created_at) %>
  </div>

  <div id="add-comment">
    <% if user_signed_in? %>
      <%= link_to "Add comment", new_post_comment_path(@post), remote: true %>
    <% else %>
      <%= link_to "Login to comment", new_user_session_path %>
    <% end %>
  </div>
</div>
