<div class="col-xs-7">
  <div class="post">
    <div class="post-header">
      <h2><%= @post.title %></h2>
      <div class="row post-details">
        <div class="post-date col-xs-6">
          <p>By <em><%= @post.user.username %></em> | <%= @post.created_at.to_date %></p>
        </div>
        <% if @post.user == current_user %>
          <div class="text-right post-tools col-xs-6">
            <ul class="list-unstyled list-inline">
              <li><%= link_to "Edit", edit_post_path(@post) %></li>
              <li><%= link_to "Delete", post_path(@post), data: {confirm: "Are you sure?", method: "delete" } %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <p><%= @post.body %></p>
  </div>
</div>

<div class="col-xs-5">
  <div class="comments">
    <h4>There are <%= @post.comments.length %> comments.</h4>
    <% @post.comments.sort_by(&:created_at).each do |comment| %>
      <div class="comment">
        <div class="row post-details">
          <div class="post-date col-xs-6">
            <p><em><%= comment.user.username %></em> | <%= comment.created_at.to_date %></p>
          </div>
          <% if @post.user == current_user %>
            <div class="text-right post-tools col-xs-6">
              <ul class="list-unstyled list-inline">
                <li><%= link_to "Edit", edit_post_comment_path(@post, comment) %></li>
                <li><%= link_to "Delete", post_comment_path(@post, comment), data: {confirm: "Are you sure?", method: "delete" } %></li>
              </ul>
            </div>
          <% end %>
        </div>
        <%= comment.body %>
      </div>
    <% end %>
  </div>
  <div class="new-comment">
    <%= link_to "Add comment", new_post_comment_path(@post) %>
  </div>
</div>
