<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="site-title text-center"><%= link_to "Blogger", posts_path %></h1>
    <nav>
      <ul class="list-unstyled list-inline text-center">
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "New post", new_post_path %></li>
      </ul>
    </nav>
    <div class="col-xs-12">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
