<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="site-title text-center"><%= link_to "Blogger", posts_path %></h1>
    <div class="session-options">
      <ul class="list-unstyled list-inline text-center">
        <% if user_signed_in? %>
          <li>Welcome <strong><%= link_to current_user.username, user_path(current_user) %></strong></li>
          <li><%= link_to "New post", new_post_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="unobtrusive-flash-container">
    </div>
    <%= yield %>
  </div>
</body>
</html>
